@foreach (var item in Produtos!)
{
    <div class="product-col">
        <a href="/ProdutoDetalhes/@item.Id" class="product-link">
            <div class="product-card">
                <img src="@item.ImagemUrl" alt="@item.Descricao" class="product-img" />

                <div class="product-body">
                    <p class="product-desc" title="@item.Descricao">
                        @item.Descricao
                    </p>
                    <h5 class="product-price">
                        @item.Preco.ToString("c")
                    </h5>
                    <button class="product-btn">
                        Ver detalhes
                    </button>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }
}
